* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#parrafo {
  padding: 0.5rem 0;
}

#tareasInput {
  margin: 0.5rem 0;
  width: 25rem;
  padding: 0.5rem;
}

#btn-add {
  background-color: green;
  color: white;
}

#div-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

th,
td {
  padding: 0.5rem;
}

.btn-eliminar {
  text-align: center;
}

.tablaCheckbox {
  text-align: center;
  transform: scale(1.5);
  margin: 10px;
}

#btnAgregar {
  padding: 0.5rem;
  font-weight: bold;
}
